@import "tailwindcss";
:root{
  overflow-x: hidden;
  scroll-behavior: smooth;  
}
html {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* For customized scroll */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgb(243, 190, 243);
  border-radius: 5px;
}

/* IntroPage.css */
.bg-intro {
    background-image: url('./assets/Images/Desktop-cover.jpg');
    background-size: cover;
    /* background-position: center; */
  }
  
  /* For mobile screens (adjust max-width as needed) */
  @media (max-width: 640px) {
    .bg-intro {
      background-image: url('./assets/Images/Mobile-cover.jpg');
    }
  }
  
  @media (max-width: 198px) {
    .bg-intro {
      background-image: url('./assets/Images/Mobile-cover.jpg');
    background-size: cover;

    }
  }
  